<div class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1>Review Requests</h1>
        <div class="card text-left" *ngFor="let reviewRequest of reviewRequests" (click)="openWorkItem(reviewRequest.__workItem__.id)">
          <div class="card-header bg-dark">
            <p class="text-light header-text">{{reviewRequest.id}}</p>
          </div>
          <div class="card-body bg-light">
            <blockquote class="blockquote mb-0">
              <p>Work Item: {{reviewRequest.__workItem__.title}}</p>
              <p>Status: {{reviewRequest.status}}</p>
              <footer class="footer text-right">Created on: {{reviewRequest.createdOn | date:'medium'}}</footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>