.container-first {
    background-color: #f8f9fa;
    padding: 50px;
    border: 1px solid #f8f9fa;
    border-radius: 13px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.37);
}

.top-container {
    margin: 50px;
}

.row {
    padding: 10px;
}

h1 {
    padding-bottom: 35px;
}