<div *ngIf="members" class="top-container">
  <div class="container container-first">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="col-xs-12"> -->
        <h1>Members</h1>
        <!-- </div> -->
        <div class="container">
          <div class="row">
            <div class="col col-lg-4">Name</div>
            <div class="col col-lg-4">Email</div>
          </div>
          <hr>
        </div>
        <div *ngFor="let member of members">
        <div class="container">
          <div class="row">
                <div class="col col-lg-4">{{member.name}}</div>
                <div class="col col-lg-4">{{member.email}}</div>
              </div>
            </div>
            <hr>
        </div>
      </div>
    </div>
  </div>
</div>