<div class="top-container">
<div class="container container-first">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-8 mx-auto">
            <h1>Create Work Item</h1>
            <br>
          <form [formGroup]="this.createWorkItemForm" (ngSubmit)="this.createWorkItem()">
            <div class="form-group">
              <label>Title</label>
              <input type="text" [(ngModel)]="title" class="form-control" placeholder="Title" formControlName="title">
            </div>
            <div class="form-group">
              <label>Content</label>
              <textarea class="form-control" [(ngModel)]="content" rows="3" formControlName="description"></textarea>
            </div>
  
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tag</label>
                <select class="form-control" formControlName="tags">
                  <option>Front-end</option>
                  <option>Back-end</option>
                </select>
              </div>

              <div class="form-group">
            <label for="exampleFormControlSelect1">Select Team</label>
            <select class="form-control form-control-sm" formControlName="team">
              <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
            </select>
          </div>
  
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Reviewers:</label>
              <select multiple class="form-control" formControlName="reviewers">
                <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  