.container {
    padding: 100px;
}
.preview{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin-top:20px;padding:.375rem .75rem;border:1px solid #ced4da;border-radius:.25rem}

.container-first {
    background-color: #f8f9fa;
    padding: 50px;
    border: 1px solid #f8f9fa;
    border-radius: 13px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.37);
}

.top-container {
    margin: 50px;
}