/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
} 

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Varela', sans-serif;
    font-weight: 700;
}

.btn {
    font-family: 'Varela', sans-serif;
    font-weight: 400;
}