.parallax {
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;

}
    h1 {
        position: relative;
        line-height: 400px;
        text-align: center;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: -.03em;
        text-transform: none;
        color: #ffffff;
        z-index: 1;  
        text-shadow: 2px 2px 6px rgba(0,0,0,0.57);
    }

    @media (max-width: 790px) { 
        h1 {
            font-size: 2rem;
        }
     }

.parallax-image-header {
    margin-bottom: 20px;
    background-image: url('../../../assets/img/picture4.jpg');
    background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.parallax-image-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33,33,33,0.66);
    z-index: 0;
}

:host {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    display: block;
}

.h3 {
    color: #525252;
    font-size: 2.3vw;
}

.info-box-wrapper {
    text-align:left;
    width:1000px;
    margin:0 auto;
    padding: 50px;
}

.information-box {
    padding: 5px;
    font-size: 18px;
    letter-spacing: .01em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(112,112,112,.5);
    font-weight: 400;
}

.parallax-image-footer {
    background-image: url('../../../assets/img/picture3.jpg');
    background-repeat: no-repeat;
  width: 99.1vw;
  background-size: cover;
  position: relative;
}

.parallax-image-footer::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33,33,33,0.66);
    z-index: 0;
}

.parallax-inner-h1 {
    font-weight: 700;
    font-size: 5vw;
    letter-spacing: -.03em;
    text-transform: none;
    color: #2b2b2b;
    text-align: center;
    line-height: 2em;
    z-index: 1;
}

.parallax-inner-h1-bottom {
    position: relative;
    font-weight: 700;
    font-size: 5vw;
    letter-spacing: -.03em;
    text-transform: none;
    color: #ffffff;
    text-align: center;
    line-height: 2em;
    z-index: 1;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.57);
}

.parallax-inner-text {
    position: relative;
        text-align: center;
        font-weight: 400;
        font-size: 2em;
        letter-spacing: -.03em;
        color: #ffffff;
        /* color: #2b2b2b; */
        margin: auto;
        line-height: 2em;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.57);
        z-index: 1;
        margin-bottom: -30px;
}

.parallax-text-footer {
  padding: 100px;
}

.container {
    padding: 50px;
}