<div class="container-fluid">
  <div class="row">
    <div class="parallax parallax-image-header col-md-12 text-center">
      <h1>Peer Review System</h1>
    </div>
  </div>
  <div class="row">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>What is a Peer Review System?</h3>
      <div class="information-box">
        <p>
          In software development, peer review is a type of software review in which a work product (document, code, or
          other) is examined by its author and one or more colleagues, in order to evaluate its technical content and
          quality.
          The purpose of a peer review is to provide "a disciplined engineering practice for detecting and correcting
          defects in software artifacts, and preventing their leakage into field operations" according to the Capability
          Maturity Model.

          When performed as part of each Software development process activity, peer reviews identify problems that can
          be fixed early in the lifecycle. That is to say, a peer review that identifies a requirements problem
          during the Requirements analysis activity is cheaper and easier to fix than during the Software architecture
          or Software testing activities.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="parallax parallax-image-footer">
  <div class="parallax-text-footer">
    <h6 class="parallax-inner-text">More about the</h6>
    <h1 class="parallax-inner-h1-bottom">Review processes</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Review processes</h3>
      <div class="information-box">
        <p>
          Peer review processes exist across a spectrum of formality, with relatively unstructured activities such as
          "buddy checking" towards one end of the spectrum, and more Informal approaches such as walkthroughs, technical
          peer reviews, and software inspections, at the other. The IEEE defines formal structures, roles, and processes
          for each of the last three.

          Management representatives are typically not involved in the conduct of a peer review except when included
          because of specific technical expertise or when the work product under review is a management-level document.
          This is especially true of line managers of other participants in the review.

          Processes for formal peer reviews, such as software inspections, define specific roles for each participant,
          quantify stages with entry/exit criteria, capture software metrics on the peer review process.
        </p>
      </div>
    </div>
  </div>
</div>