<div class="modal-header">
    <h4 class="modal-title">Add Member</h4>
    <button type="button" class="close" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">
    </button>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="modal-boy">
      <div class="container">
        <div class="form-group">
          <label>Name:</label>
            <select class="form-control" formControlName="id">
                <option *ngFor="let member of members" [value]="member.id">{{member.name}}</option>
              </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-dark btn-sm mr-2"
        [disabled]="!myForm.valid">
        Add Member
      </button>
    </div>
  </form>
  