<div class="top-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Teams</h1>
          <div *ngIf="teams">
            <div class="card text-left" *ngFor="let team of teams" (click)="viewTeam(team.id)">
              <div class="card-header bg-dark">
                <p class="text-light header-text">{{team.name}}</p>
              </div>
              <div class="card-body bg-light">
                <blockquote class="blockquote mb-0">
                  <p>Id: {{team.id}}</p>
                  <footer class="footer text-right">Author: {{team.__author__.name}}</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>