#page-container {
    position: relative;
    min-height: 100%;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;
  }
  
  #footer {
    background-color: #f5f5f5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }