<app-navbar [username]="this.username" (isLoggedOut)="this.logout()" [isLoggedIn]="this.isLoggedIn" [myNotifications]="this.myNotifications"></app-navbar>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->