<div class="modal-header">
  <h4 class="modal-title">Create Team</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="content">Name</label>
        <input type="text" class="form-control"  formControlName="name">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark btn-sm mr-2"
      [disabled]="!myForm.valid">
      Create
    </button>
  </div>
</form>
