<div class="top-container">
    <div class="container container-first">
        <section id="tabs" class="project-tab">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-controls="nav-home" aria-selected="true">My review requests</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">My team members review
                                    requests</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="card" *ngFor="let myReview of myReviewRequests">
                                    <h5 class="card-header">{{myReview.__workItem__.title}}</h5>
                                    <div class="card-body">
                                        <h5 class="card-title">Description</h5>
                                        <p class="card-text">{{myReview.__workItem__.description}}</p>
                                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                        <ul>
                                            <li>
                                                Created on: {{myReview.createdOn | date}}
                                            </li>
                                            <li>
                                                Status: {{myReview.status}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div *ngIf="teamReviewRequests">
                                    <div class="card" *ngFor="let teamReview of teamReviewRequests; let i = index">
                                        <div *ngFor="let review of teamReviewRequests[i]">
                                            <h5 class="card-header">{{review.id}}</h5>
                                            <div class="card-body">
                                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                                <ul>
                                                    <li>
                                                        Created on: {{review.createdOn | date}}
                                                    </li>
                                                    <li>
                                                        Status: {{review.status}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>