<div class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Review Requests</h1>
        <div *ngIf="reviewRequests">
          <div class="card text-left" *ngFor="let reviewRequest of reviewRequests">
            <div class="card-header bg-dark">
              <p class="text-light header-text">{{reviewRequest.id}}</p>
            </div>
            <div class="card-body bg-light">
              <blockquote class="blockquote mb-0">
                <p>Work Item: {{reviewRequest.__workItem__.title}}</p>
                <p>Status: {{reviewRequest.status}}</p>
                <footer class="footer text-right">Created on: {{reviewRequest.createdOn | date:'medium'}}</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>