.card {
    margin: 30px;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
  }

  .header-text {
      font-size: 35px;
  }

  .container {
    background-color: #f8f9fa;
    padding: 50px;
    border: 1px solid #f8f9fa;
    border-radius: 13px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.37);
}

.top-container {
    margin: 50px;
}

h1 {
    padding-bottom: 35px;
}