<div class="top-container">
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1>Work Items</h1>
      <div class="card text-left" *ngFor="let workItem of workItems" (click)="openWorkItem(workItem.id)">
        <div class="card-header bg-dark">
          <p class="text-light header-text">{{workItem.title}}</p>
        </div>
        <div class="card-body bg-light">
          <blockquote class="blockquote mb-0">
            <p>{{workItem.description}}</p>
            <footer class="footer text-right">Tag: {{workItem.tags}}</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
</div>