<div class="top-container">
  <div class="container container-first">
    <div class="row justify-content-md-center">
        <div class="login-wrapper">
          <form [formGroup]="this.loginForm" (ngSubmit)="this.login()">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
            </div>
            <div *ngIf="this.loginForm.controls.email.invalid && this.loginForm.controls.email.dirty"
              class="alert alert-danger">
              <div *ngIf="this.loginForm.controls.email.errors.required">
                Email is required.
              </div>

              <div *ngIf="this.loginForm.controls.email.errors.minlength">
                Email must be at least 5 characters long.
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
            </div>

            <div *ngIf="this.loginForm.controls.password.invalid && this.loginForm.controls.password.dirty"
              class="alert alert-danger">
              <div *ngIf="this.loginForm.controls.password.errors.required">
                Password is required.
              </div>

              <div *ngIf="this.loginForm.controls.password.errors.minlength">
                Password must be at least 5 characters long.
              </div>
            </div>

            <button type="submit" class="btn btn-dark">Login</button>

          </form>
        </div>
      </div>
    </div>
  </div>