.auth-username {
    margin-right: 10px;
}

.navbar-brand {
    color: black;
    transition: 0.8s;
}

.nav-item {
    user-select: none;
}

.navbar-brand:hover {
    color: #9e9e9e;
}

.notifications {
    margin-right: 10px;
}

.card-notification:hover {
    background-color: rgba(189, 189, 189, 0.2);
}

.dropdown-toggle::after {
    display:none;
}

.dropdown-menu {
    width: 250px;
    right: 0;
}

.card-body {
    /* margin-bottom: -20px */
    border-bottom: #cfcfcf solid 1px;
}

.beginner {
    background-color: aqua;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu, .dropdown-main:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}