<!-- <div class="container-fluid bg-light">
  <div class="container"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/home']">Peer Review</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex justify-content-center">
      <ng-template [ngIf]="isLoggedIn">
        <ul class="navbar-nav">
          <li class="nav-item nav-link"><a class="middle nav-link" [routerLink]="['/create-work-item']">Create Work
              Item</a></li>
          <span class="nav-item dropdown nav-link dropdown-main">
            <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              My Teams
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <div *ngIf="myTeams">
              <li class="dropdown-submenu" *ngFor="let team of myTeams">
                <a class="dropdown-item" tabindex="-1" (click)="viewTeam(team.id)">{{team.name}}</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" (click)="viewWorkItems(team.id)"><a>Work Items</a></li>
                  <li class="dropdown-item" (click)="viewMembers(team.id)"><a>Members</a></li>
                  <li class="dropdown-item" (click)="viewReviewRequests(team.id)"><a>Review Requests</a></li>
                </ul>
              </li>
            </div>
            </ul>
          </span>
          <li class="nav-item nav-link"><a class="middle nav-link" (click)="openFormModal()">
              Create Team</a></li>
        </ul>
      </ng-template>
    </div>
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <ul class="navbar-nav">
        <li class="nav-item">
          <ng-template [ngIf]="!isLoggedIn">
            <button class="btn btn-outline-secondary btn-sm mr-2" [routerLink]="['/login']">Login</button>
          </ng-template>
        </li>
        <li class="nav-item">
          <ng-template [ngIf]="!isLoggedIn">
            <button class="btn btn-outline-dark btn-sm mr-2" [routerLink]="['/register']">Register</button>
          </ng-template>
        </li>
        <li class="nav-item">
          <ng-template [ngIf]="isLoggedIn">
            <span class="notifications">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-danger" ngbDropdownToggle><i class="fas fa-bell"></i></button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownForm">
                  <div class="card border-0">
                    <div class="card-body card-notification" *ngFor="let notification of userNotifications"
                      (click)="readNotification(notification.id)">
                      <p class="card-text">{{notification.message}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </span>
            
            <button class="btn btn-outline-dark btn-sm mr-2" [routerLink]="['/user']">My Profile</button>
            <!-- <span class="auth-username">{{ username }}</span> -->
            <button class="btn btn-outline-dark btn-sm mr-2" (click)="this.isLoggedOut.emit()"
              [routerLink]="['/home']">Logout</button>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- </div>
</div> -->