<div class="top-container">
  <div class="container container-first">
    <div class="row justify-content-md-center">
      <div class="register-wrapper">
        <form [formGroup]="this.registerForm" (ngSubmit)="this.register()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-dark">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>