.register-wrapper{
    padding: 100px 0px;
    width: 400px;
    margin:0 auto;
    text-align:center;
}

.container-first {
    background-color: #f8f9fa;
    width: 600px;
    border: 1px solid #f8f9fa;
    border-radius: 13px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.37);
}

.top-container {
    margin: 50px;
}