<div *ngIf="team" class="top-container">
  <div class="container container-first">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col">
            <h1>Team {{team.name}}</h1>
          </div>
          <div class="col-md-auto">
            <button type="button" class="btn btn-secondary" (click)="openFormModal()">Add Member</button>
          </div>
          <div class="col-md-auto">
            <button type="button" class="btn btn-danger" (click)="leaveTeam()">Leave Team</button>
          </div>
          <br>
        </div>
        <div class="row">
          <div class="col">
            <h6>Author: {{team.__author__.name}}</h6>
          </div>
        </div>
        <hr>
        <h1 class="members-h1">Members</h1>
        <div class="container">
          <div class="row">
            <div class="col col-lg-4">Name</div>
            <div class="col col-lg-4">Email</div>
          </div>
          <hr>
        </div>
        <div *ngFor="let member of members">
          <div class="container">
            <div class="row">
              <div class="col col-lg-4">{{member.name}}</div>
              <div class="col col-lg-4">{{member.email}}</div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>