<div class="top-container">
  <div class="container container-first">
    <div *ngIf="user">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col">
              <h1>{{user.name}}</h1>
            </div>
            <div class="col-md-auto">
              <a>Email: {{user.email}}&nbsp;&nbsp;|&nbsp;&nbsp;Id: {{user.id}}</a>
            </div>
            <br>
          </div>
          <div class="row">
            <div class="col">
              <p class="priveleges">{{user.preveleges}}</p>
            </div>
          </div>
          <hr>
          <div class="row justify-content-center">
            <div class="col-md-auto">
              <button type="button" class="btn btn-secondary" [routerLink]="['/review-requests']">Review
                Requests</button>
            </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary" [routerLink]="['/all-review-requests']">All Review
                  Requests</button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary" [routerLink]="['/all-teams']">All Teams</button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary" [routerLink]="['/all-work-items']">All Work
                  Items</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>