.container-first {
    background-color: #f8f9fa;
    padding: 50px;
}

.top-container {
    margin: 50px;
}

.priveleges {
    padding: 4px;
    border: 1px solid rgba(29, 29, 29, 0);
    border-radius: 40px;
    display: inline;
    color: white;
    background-color: rgb(29, 29, 29);
}
