.container {
    padding: 100px;
    border: 1px solid #f8f9fa;
    border-radius: 13px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.37);
}

.top-container {
    margin: 50px;
}

.adjust-card {
    margin-bottom: 50px;
}

.header-text {
    font-size: 35px;
}

.comments-card {
    margin: 25px;
}