<div class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-left">
          <div *ngIf="workItem">
            <div class="card-header bg-dark">
              <p class="text-light header-text">{{workItem.title}}</p>
            </div>
            <div class="card-body bg-light">
              <div *ngIf="workItem.__asignee__.id === localId || this.userPriveleges === 'admin'">
                <div *ngIf="workItem.status !== 'Rejected'">
                  <div class="col">
                    <div class="text-right">
                      <button type="button" class="btn btn-secondary" (click)="closeWorkItem()">Close Work Item</button>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <blockquote class="blockquote mb-0">
                <p>{{workItem.description}}</p>
                <br>
                <div class="row">
                  <div class="col-xs-6 col-md-4">
                    <footer class="footer text-left">Status: {{workItem.status}}</footer>
                  </div>
                  <div class="col-xs-12 col-md-8">
                    <footer class="footer text-right">Tag: {{workItem.tags}}</footer>
                  </div>
                </div>
              </blockquote>
              <hr>
              <div *ngIf="workItem.status !== 'Rejected'">
                <div class="row justify-content-md-center">
                  <div class="col col-lg-6">
                    <form [formGroup]="this.stateForm" (ngSubmit)="this.createVote()">
                      <div class="form-group">
                        <select class="form-control" formControlName="state">
                          <option [value]=1>Pending</option>
                          <option [value]=2>Accepted</option>
                          <option [value]=3>Rejected</option>
                          <option>Change Requested</option>
                          <option>Under Review</option>
                        </select>
                        <br>
                        <button type="submit" class="btn btn-dark btn-block">Add Vote</button>
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
              </div>

              <div class="comments">
                <div class="row">
                  <div class="col-md-12 justify-content-md-center">
                    <h5 class="">Comments</h5>
                    <div *ngFor="let comment of comments" class="card comments-card">
                      <div class="card-body">
                        <h6 class="card-text">{{this.comment.description}}</h6>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Author: {{this.comment.author}}</li>
                          <li class="list-group-item">Created on: {{this.comment.createdOn| date : 'medium'}}</li>
                        </ul>
                        <div *ngIf="this.comment.authorId === localId || this.userPriveleges === 'admin'">
                          <br>
                          <button class="btn btn-secondary" (click)="this.deleteComment(comment.id)">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-md-12 mx-auto">
                  <form [formGroup]="this.commentForm" (ngSubmit)="this.submitComment()">
                    <div class="form-group">
                      <label>Create comment:</label>
                      <textarea class="form-control" rows="3" formControlName="content"></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>